body {
    background-color: #11171f;
    font-family: Arial;
    text-align: center;
    border-style: solid;
    border-color: #0d1117;
    border-left-width: 200px;
    border-right-width: 200px;
    border-bottom: #11171f;
    border-color: #0d1117;
}

#title1 {
    color: rgb(35, 221, 175);
}

#subtitulo {
    color: rgb(35, 221, 175);
}

#img {
    margin-top: 60px;
    margin-bottom: 40px;
}

#title2{
    text-align: center;
    margin-bottom: 100px;
}

.text {
    color: rgb(35, 221, 175);
    text-align: center;
}

@media only screen and (max-device-width: 700px) and (orientation: portrait){
    #title1{
        font-size: 30px;
        margin-top: 30px;
    }
    #subtitulo{
        font-size: large;
    }

    #img{
        max-width:212px;
        max-height:212px;
        width: auto;
        height: auto;
    }

    #vil{
        max-width:212px;
        max-height:212px;
        width: auto;
        height: auto;
    }

    body{
        border-left-width: 30px;
        border-right-width: 30px;
        border-top: 20px;
    }
}

@media only screen and (min-device-width: 1000px) and (orientation: portrait){
    #title1{
        font-size: 50px;
        margin-top: 30px;
    }

    #subtitulo{
        font-size: larger;
    }

    #img{
        max-width:512px;
        max-height:512px;
        width: auto;
        height: auto;
    }

    #vil{
        max-width:128px;
        max-height:128px;
        width: auto;
        height: auto;
    }

    body{
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 60px;
    }
}